.introduction {
  margin: 10rem 0;
}
.introduction__header {
  font-size: 3rem;
  font-weight: 300;
}

.introduction__subheader {
  font-size: 2.5rem;
  font-weight: 300;
}

.introduction__name {
  font-weight: 600;
  color: #a75503;
}
