html {
  background-color: #fdf9f6;
  color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#introduction,
#about,
#resume {
  scroll-margin-top: 200px;
}
.App-header {
  min-height: 100vh;
}

.header {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

.description p {
  font-weight: 300;
  align-items: center;
  font-size: 1.5rem;
}

.MuiButton-root {
  background-color: #d4a87b !important;
}
