.footer {
  background-color: #da8d40;
  width: 100%;
  position: absolute;
  margin-top: 3rem;
  padding: 2rem 0;
  text-align: center;
  color: white;
}

.footer__section {
  margin: 0px 0 !important;
}

.footer__brand {
  font-size: 1.5rem;
}

a.footer__link {
  color: #ffffff;
}
