.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 2;
}
.navbar.navbar--onscroll {
  background-color: #e6ccb2;
  transition: 0.5s;
}
.navbar__brand {
  margin-left: 1rem;
  color: #a75503;
  text-decoration: none;
}

.navbar__links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__links ul li {
  margin: 20px 20px;
  display: inline;
  list-style: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar ul li a {
  color: #a75503;
  text-decoration: none;
  transition: 0.2s;
}
.navbar ul li a:hover {
  color: #ffffff;
  transition: 0.2s;
}
.navbar__toggle-btn {
  position: absolute;
  top: 50px;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.navbar__toggle-btn--bar {
  height: 3px;
  width: 100%;
  background-color: #a75503;
  border-radius: 10px;
}

@media (max-width: 732px) {
  .navbar__links {
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__links ul {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .navbar__links.active ul {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  .navbar__links li {
    text-align: center;
    margin-top: 100px;
  }
}
