.social-button--sm {
  color: #a75503 !important;
  background-color: rgb(255, 255, 255) !important;
  margin: 0 5px !important;
  transition: 0.2s !important;
}

.social-button--sm:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 5px #a75503;
  transition: 0.2s;
}
